<body>
    <header>
        <img src="./../../assets/logo.png" alt="Travel Agency logo" width="200px">
        <h1> Bydgoszcz Travel Agency </h1>
    </header>
    <main>
        <section id="offer">
            <h2> Offer </h2>
            <p> Bydgoszcz may not be the most exciting place on earth, but with our help, you can ditch this dull town and jet off to a world of adventure! Come visit our travel agency and plan the trip of a lifetime! We specialize in taking the ordinary and turning it into extraordinary. So pack your bags and let's get going!</p>
        </section>
        <section id="contact">
            <h2> Contact </h2>
            <p><strong> Phone: </strong><br> 123-456-789 </p>
            <p><strong> Email: </strong><br> bydgoszczTravel@agency.com </p>
            <p><strong> Address: </strong><br> Ul. Turystyczna 1 <br> 72-122 Bydgoszcz </p>
        </section>
        <section id="map">
            <h2> Location </h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14031.250138194739!2d18.00246!3d53.12655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfef861e959d8cde8!2sBydgoszcz%2C+Poland!5e0!3m2!1sen!2sus!4v1605173669473!5m2!1sen!2sus"  width="600" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
        </section>
    </main>
    <footer> Copyright 2022 Bydgoszcz Travel Agency </footer>
</body>
