<div class="gallery">
    <div class="card" *ngFor="let trip of trips"
    [ngStyle]="{'border': trip.price == minPrice ? '2px solid red' : ( trip.price == maxPrice ? '2px solid green' : '2px solid white') }">
        <div class="circle">
            <img [src]="trip.link">
        </div>
        <div class="content">
            <h1> {{ trip.name | uppercase }} </h1>
            <h2> {{ trip.country | uppercase}} </h2>
            <p> <strong> From: </strong> {{ trip.start }} </p>
            <p> <strong> To: </strong> {{ trip.end }} </p>
            <p> <strong> Price: </strong> {{ trip.price }} {{ trip.currency }}</p>
            <p> <strong> Max participants: </strong> {{ trip.max }} </p>
            <p> <strong> Description: </strong> </p>
            <p> {{ trip.description }} </p>
            <div class="selectContainer">
                <div class="select">
                    <button (click)="resign(trip)" [disabled]="trip.counter == 0">-</button>
                    <div> {{ trip.counter }} </div>
                    <button (click)="reserve(trip)" [disabled]="trip.counter == trip.max">+</button>
                </div>
                <p class="msg" [ngStyle]="{'color': trip.available - trip.counter > 3 ? 'rgb(118, 118, 118)' : 'red' }">
                    {{
                        trip.available - trip.counter == trip.max ? "All places available" :
                        (trip.available - trip.counter > 1 ? getRemaining(trip) + " places left" :
                        (trip.available - trip.counter == 1 ? "1 place left" :
                        "No places available" ))
                    }}
                </p>
            </div>
            <button class="remove" (click)="remove(trip)"> Remove </button>
        </div>
    </div>
</div>
