<nav>

  <div class="menu">
    <div>
      <a routerLink="/home" routerLinkActive="active"> Home </a>
    </div>
    <div>
      <a routerLink="/trips" routerLinkActive="active"> Trips </a>
    </div>
    <div>
      <a *ngIf="role=='manager' or role=='admin'" routerLink="/form" routerLinkActive="active" style="color: yellow;"> Add trip </a>
    </div>
    <!--<div>
      <a routerLink="/basket" routerLinkActive="active"> Basket </a>
    </div>
    <div>
      <a routerLink="/history" routerLinkActive="active"> History </a>
    </div>-->
  </div>
  
  <div class="info">
    <!--<div>
      <p> Basket info </p>
    </div>
    <div>
      <img src="./../assets/notify.png" alt="Noifications" height="30px">
    </div>-->
    <div>
      <a *ngIf="role=='guest'" routerLink="/login" routerLinkActive="active"> Login </a>
    </div>
    <div>
      <a *ngIf="role=='guest'" routerLink="/register" routerLinkActive="active"> Register </a>
    </div>
    <div>
      <p *ngIf="role!='guest'" style="color: yellow;"> {{ user.displayName }} </p>
    </div>
    <div>
      <a *ngIf="role!='guest'" (click)="logout()"> Log out </a>
    </div>
  </div>

</nav>
<router-outlet></router-outlet>