nav {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #333;
    height: 50px;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

a:hover {
    background-color: #444;
}

.info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 20px;
}

