.persistence-settings {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 5px;
}
  
.persistence-settings label {
    display: flex;
    align-items: center;
}
  
.persistence-settings input[type="radio"] {
    margin-right: 10px;
}

.users-accounts {
    margin: 20px;
}

table {
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid rgb(77, 77, 77);
    padding: 8px;
    text-align: left;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
input[type="text"] {
    width: 100%;
    border: none;
    background-color: transparent;
}