<form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">

    <label> Name: </label> <br>
    <input name="name" formControlName="name"> <br>

    <label> Country: </label> <br>
    <input name="country" formControlName="country"> <br>

    <label> Start: </label> <br>
    <input name="start" formControlName="start"> <br>

    <label> End: </label> <br>
    <input name="end" formControlName="end"> <br>

    <label> Price: </label> <br>
    <input name="price" formControlName="price"> <br>

    <label> Currency: </label> <br>
    <input name="currency" formControlName="currency"> <br>

    <label> Max: </label> <br>
    <input name="max" formControlName="max"> <br>

    <label> Description: </label> <br>
    <input name="description" formControlName="description"> <br>

    <label> Link: </label> <br>
    <input name="link" formControlName="link"> <br>
  
    <button [disabled]="!modelForm.valid" type="submit"> Dodaj </button>
  </form>
  