p:nth-child(1) {
    font-size: large;
    font-style: normal;
    color: black;
    background-color: cornflowerblue;
    margin-top: 100px;
}

p:nth-child(2) {
    width: 100px;
    height: 50px;
    overflow: auto;
    font-size: medium;
    font-style: oblique;
    color: aliceblue;
    background-color: blueviolet;
    border-top: 2px solid red;
}

p:nth-child(3) {
    width: 1345px;
    height: 104px;
    font-size: small;
    font-style: italic;
    color: blue;
    background-color: chocolate;
    padding-top: 50px;
}

p:nth-child(4) {
    font-size: smaller;
    font-style: normal;
    color: crimson;
    background-color: forestgreen;
}



.bluetable {
    width: 20cm;
}

.bluetable tr {
    height: 1.2cm;
}

.bluetable tr {
    background-color: rgb(67, 115, 170);
}

.light tr {
    background-color: rgb(209, 223, 240);
}

.light tr:nth-child(even) {
    background-color: rgb(225, 230, 237);
}


.graytable, .graytable th, .graytable td {
    border: 1px solid black;
}

.graytable {
    width: 18cm;
    margin-top: 0.5cm;
    margin-bottom: 2cm;
    border-spacing: 0px
}

table.graytable tr {
    height: 1.5cm;
}

table.graytable th {
    background-color: rgb(72, 69, 68);
}

table.graytable td {
    background-color: rgb(169, 169, 169);
}



#opis {
    margin: 1cm;
}

#zdj1 {
    float: left;
    margin: 0 1cm 0.5cm 0;
}

#zdj2  {
    float: right;
    margin: 0.5cm 0 0.5cm 1cm;
}



#zdjecia {
    clear: both;
}

#zdjecia img{
    width: 10%;
}

#zdj4 {
    position: relative;
    left: 200px;
}

#zdj5 {
    position: relative;
    right: 200px;
}



ul.europe {
    background-color: lightblue;
    position: relative;
    top: 100px;
}

ul.asia {
    background-color: red;
    position: relative;
    bottom: 100px;
}
