h1 {
    text-align: center;
    margin: 0;
}

.topics-container {
    display: flex;
}

.card {
    width: 130px;
    height: 200px;
    position: relative;
}

button {
    position: absolute;
    bottom: 10px;
    left: 30px;
    padding: 1em 2em;
    border: 0px;
    border-radius: 5em;
    color: white;
    background-color: rgb(167, 36, 68);
    cursor: pointer;
}
