<div class="gallery">
  <div class="card" *ngFor="let trip of trips"
  [ngStyle]="{'border': trip.price == minPrice ? '2px solid red' : ( trip.price == maxPrice ? '2px solid green' : '2px solid white') }">
      <div [routerLink]="'/trip/' + trip.name" routerLinkActive="active" class="circle">
          <img [src]="trip.link">
      </div>
      <div class="content">
          <h1> {{ trip.name | uppercase }} </h1>
          <h2> {{ trip.country | uppercase}} </h2>
          <p> <strong> From: </strong> {{ trip.start }} </p>
          <p> <strong> To: </strong> {{ trip.end }} </p>
          <p> <strong> Price: </strong> {{ trip.price }} {{ trip.currency }}</p>
          <p> <strong> Max participants: </strong> {{ trip.max }} </p>
          <p> <strong> Description: </strong> </p>
          <p> {{ trip.description }} </p>
          <button class="remove" (click)="remove(trip)"> Remove </button>
      </div>
  </div>
</div>


<form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">

  <label> Name: </label> <br>
  <input name="name" formControlName="name"> <br>

  <label> Country: </label> <br>
  <input name="country" formControlName="country"> <br>

  <label> Start: </label> <br>
  <input name="start" formControlName="start"> <br>

  <label> End: </label> <br>
  <input name="end" formControlName="end"> <br>

  <label> Price: </label> <br>
  <input name="price" formControlName="price"> <br>

  <label> Currency: </label> <br>
  <input name="currency" formControlName="currency"> <br>

  <label> Max: </label> <br>
  <input name="max" formControlName="max"> <br>

  <label> Description: </label> <br>
  <input name="description" formControlName="description"> <br>

  <label> Link: </label> <br>
  <input name="link" formControlName="link"> <br>
  
  <button [disabled]="!modelForm.valid" type="submit"> Add </button>
</form>
  