body {
    background-color: rgb(243, 243, 243);
    font-family: Arial, sans-serif;
    color: rgb(118, 118, 118);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 2em;
}

.card {
    box-sizing: content-box;
    width: 20em;
    height: 31em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 0.5em #7b7b7b61;
}

.card > img {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.content {
    padding: 1.2em;
}

.content > h1 {
    color: rgb(63, 63, 63);
    margin: 0;
}

.content > h2 {
    color: rgb(255, 80, 80);
    font-size: 1em;
    margin: 0.3em 0;
}

.content > p {
    font-size: 0.9em;
}

hr {
    margin: 0;
}

.interactive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.button {
    height: 3.2em;
    padding: 0.7em;
    color: white;
    background-color: rgb(255, 80, 80);
    border: 1px solid white;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    border: 1px solid red;
    color: red;
    background-color: white;
}

.interactions > p {
    font-size: 0.8em;
    padding: 0.1em;
    margin: 0;
}
